@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    background-color: rgb(208, 230, 249);
               
}

section{
    background-color: white;
    min-width: 280px;
    max-width: 250px;
    margin: 10% 40%;
    display: flex;
    padding: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;    

}

div{
    box-sizing: border-box;
}

img{
    min-width: 200px;
    max-width: 280px;
    border-radius: 10px;
}

h3 p{
    text-align: center;

}

h3 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(12, 12, 50);
   
}

p{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: grey;
}
